{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre.min.css" %}">
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre-exp.min.css" %}">
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre-icons.min.css" %}">
      <link rel="stylesheet" href="{% static "authprofiles/css/custom.css" %}">
    {% endblock %}
  </head>
  <body>
    
    {% block body %}
        
    <div class="column col-4 col-mx-auto">
      <br>
      <div class="flex-centered">
      
      <img class="logo" src="{{logo_url}}">
      </div>
      <div class="flex-centered">
      <p class="application-name">{{application_name}}</p>
      </div>
      <div class="divider text-center" data-content=""></div>
      
      <br>
      
    </div>

    {% if messages %}
      <div class="column col-4 col-mx-auto">
        <br>
        <div class="flex-centered">
        

        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <div class="container">    
      <div class="columns">
        <div class="column col-4 col-mx-auto">
        {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
