{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre.min.css" %}">
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre-exp.min.css" %}">
      <link rel="stylesheet" href="{% static "authprofiles/css/spectre/spectre-icons.min.css" %}">
    {% endblock %}
  </head>
  <body>
    
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="container">

    
      <div class="columns">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
