# Django settingss
DJANGO_SECRET_KEY=enter_a_new_long_secret
ENABLE_DEBUG=1
SHOW_ADMIN=1

#OIDC / OpenID settings
JWT_ISSUER_DOMAIN=http://localhost:9000
JWT_ISSUER_NAME=__Openskies__
OIDC_RSA_PRIVATE_KEY='your_private_key'
DOMAIN_WHITELIST=domain1;domain2;

# If you are using it locally, you can setup the following for a database URL.
#DATABASE_URL=sqlite:///flight_passport.sqlite3
DATABASE_URL=postgres://postgres:postgres@db-passport:5432/postgres

#Django Superuser for Docker
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@mysite.com
DJANGO_SUPERUSER_PASSWORD=admin


# Postgres config for Docker Compose, these will tell Docker Compose to setup PG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
PGDATA=/var/lib/postgresql/data/pgdata

# Get a key from a Email service provider e.g. Mailersend, Resend

ESP_EMAIL_BACKEND=__eg__anymail.backends.mailersend.EmailBackend__
MAILERSEND_API_TOKEN=__MAILERSEND_TOKEN__
RESEND_API_KEY=__RESEND_TOKEN__
DEFAULT_FROM_EMAIL=example@yourauthorizeddomain.com
