idna==3.7
Django==5.0.3
python-dotenv==0.20.0
cryptography==42.0.4
pyjwt==2.8.0
python-jose==3.3.0
django-oauth-toolkit==2.3.0
django-cors-headers==3.11.0
django-cors-middleware==1.5.0
whitenoise==6.0.0
dj-database-url==1.0.0
psycopg2-binary==2.9.3
django-allauth==0.60.0
gunicorn==22.0.0
tldextract==5.0.1
djangorestframework==3.14.0
django-anymail[mailersend,resend]==10.2
wait-for-it==2.2.2
