{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="columns">    
    <!-- LEFT COLUMN -->
    <div class="column col-4 col-sm-12 float-right bg-dark text-light titlecol" style="padding-top: 10%; padding-left: 2em; padding-right: 2em;";>
        <div class="divider" style="padding-top: 1em;"></div>
        <h1 class="">{{domain_name}}</h1> 
        
    </div><!-- .column .col-4 .col-sm-12 -->

    <!-- RIGHT COLUMN-CLIENT AREA -->
    <div class="column col-8 col-sm-12 float-left"  style="padding-top: 10%; padding-left: 2em;">	
        <img class="logo" src="https://openskies.sh/images/logo.svg">	
        <h4>&nbsp;</h4>
        <h4>Identity and Authentication for UTM / U-Space ecosystem</h4>
        <p>This is a production instance of <a href="https://github.com/openskies-sh/flight_passport/">Flight Passport</a>. Flight Passport is a OAUTH server used to authenticate and issue credentials in the form of JWT tokens to access different U-Space / UTM services.</p>
        <h4>What is this?</h4>
        <p>The upcoming U-Space and UTM ecosystem, uses JWT Tokens and OAUTH 2.0 technology to authenticate users and services. This is a open source implementation of OAUTH 2.0 server built specifically for UTM / U-Space. It supports the <mark>Client Credentials</mark> flow for Machine to Machine interactions and the <mark>Authorization Code</mark> flow for cases where an individual / person is associated. In addition, it supports most existing Identity and Authentication platforms.</p>
        <h4>What can I do with a Token?</h4>
        <p><a href="https://jwt.io">Javascript Web Tokens (JWT)</a> is the technology that is used as a mechanism for exchanging credentials across U-Space / UTM. Using a JWT token issued by this server, you can connect to for example, a DSS instance, use it for applications like <a href="https://github.com/openskies-sh/flight-spotlight/">Flight Spotlight</a> and across many other applications and serivice prodivers (e.g. query registration data). In addition, you can self-host this software to issue your own tokens securely.</p>
            <h5 class="title">Self-hosting / Get Involved</h5>
            <p>Want to host your own OAUTH server? Please fill in the form at <a href="https://openskies.sh">our homepage</a> and we can help you get setup to host it for your organization. You can also open <a href="https://github.com/openskies-sh/flight_passport/issues">issues on this repository</a>, review the <a href="https://github.com/openskies-sh/flight_passport/blob/master/README.md">README</a> document, make comments at open issues to look at the current work in progress. 
            <div class="divider"></div>
            <p>&copy; 2020 Openskies Aerial Technology Ltd. Licensed under the <a target="_blank" href="https://github.com/openskies-sh/aircraftregistry/blob/master/LICENSE" title="Apache 2.0 Licence">Apache 2.0 License</a>.</p>
    </div><!-- .column .col-8 .col-sm-12 -->


</div><!-- .columns -->

{% endblock %}
