{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="column col-4 col-mx-auto">
    <br>
    <div class="flex-centered">
    <img class="logo" src="https://openskies.sh/images/logo.svg">
    </div>
    <div class="flex-centered">
    <p class="application-name">Openskies.sh - Trust Bridge</p>
    </div>
    <div class="divider text-center" data-content=""></div>
    
    
    <br>
    
    <h4>{% trans "Verify Your E-mail Address" %}</h4>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
